*~
*#
*swp
*edited
*.new
*.old
*.pyc
*.sql.gz

ansible/books/*.retry

bin/db.inc
config/app.yml
config/databases.yml
config/ProjectConfiguration.class.php
apps/frontend/config/routing.yml
apps/frontend/config/factories.yml
lib/vendor/SolrServer/solr/conf/solrconfig.xml

data/sql/
data/mails/
lib/vendor/SolrServer/solr/data/

cache/
log/

batch/amendements/commission/
batch/amendements/html/
batch/amendements/json/
batch/amendements/OpenDataAN/
batch/amendements/liste_sort_indefini.txt
batch/commission/html/
batch/commission/tmp/
batch/commission/out/
batch/commission/presents/
batch/depute/html/
batch/depute/json/
batch/depute/collabs.csv
batch/depute/twitter.csv
batch/depute/finmandats.pm
batch/documents/html/
batch/documents/pjl/
batch/documents/ppl/
batch/documents/ppr/
batch/documents/rap/
batch/documents/ta/
batch/documents/out/
batch/dossiers/html/
batch/hemicycle/html/
batch/hemicycle/out/
batch/hemicycle/toload130817/
batch/jo/export/
batch/jo/html/
batch/jo/pdf/
batch/jo/json/
batch/loi/json/
batch/presences/oldjson/
batch/presences/json/
batch/questions/html/
batch/questions/test/
batch/questions/dernier_numero.txt
batch/questions/liste_sans_reponse.txt
batch/sanctions/

lib/filter/doctrine/
lib/form/doctrine/
lib/form/BaseForm.class.php
lib/model/doctrine/base/
lib/model/doctrine/sfDoctrineActAsTaggablePlugin/

web/circonscription.html
web/1*/
web/images/tmp/
web/liasses/
web/synthese*
