# default values
all:
  base_url: http://www.nosdeputes.fr/
  secret_key: _______PUT_YOUR_KEY_HERE________
  legislature: 15
  # attention : il est important que la date soit entre guillemets
  debut_legislature: "2017-06-21"
  fin_legislature: false
  host_previous_legislature: 2012.nosdeputes.fr
  host_next_legislature:
  lock_commentaires: false
  allow_autoclean_solr: false

  groupes_actuels: >
    ["LFI", "GDR", "SOC", "LREM", "MODEM", "UAI", "LR", "NI"]
# groupes_infos: ['nom / acro / couleur(R,G,B) / legende / regexp_identifiante', ...]   USE DOUBLE QUOTES
  groupes_infos: >
    [
    "La France Insoumise / LFI / 204,42,70 / France Insoumise / insoumise",
    "Gauche Démocrate et Républicaine / GDR / 255,30,30 / PCF & ultramarins / gauche\s*d.*mocrate",
    "Nouvelle Gauche / SOC / 255,50,190 / PS et divers gauche / nouvelle",
    "Socialistes et apparentés / SOC / 255,50,190 / PS et divers gauche / socialiste",
    "La République En Marche / LREM / 232,197,5 / En Marche / marche",
    "Mouvement Démocrate et apparentés / MODEM / 247,138,13 / MoDem / mouvement",
    "Les Constructifs : Républicains, UDI, Indépendants / LC / 30,180,255 / LR proches d'En Marche & UDI / constructif",
    "UDI, Agir et Indépendants / UAI / 30,180,255 / LR proches d'En Marche & UDI / ud|agir",
    "Les Républicains / LR / 30,30,200 / Les Républicains / les\s*r.*publicains",
    "Députés Non Inscrits / NI / 165,165,165 / Non-Inscrits (FN, Divers droite, PRG...) / inscrit|non\s*inscrit"
    ]
  groupes_proximite: >
    ["LFI / GDR", "LFI / SOC", "GDR / SOC", "SOC / LREM", "LREM / MODEM", "LREM / UAI", "MODEM / UAI", "UAI / LR", "LR / NI"]

  commissions_permanentes: >
    [
    "commission-des-lois-constitutionnelles-de-la-legislation-et-de-l-administration-generale-de-la-republique",
    "commission-des-finances-de-l-economie-generale-et-du-controle-budgetaire",
    "commission-des-affaires-economiques",
    "commission-des-affaires-sociales",
    "commission-des-affaires-culturelles-et-de-l-education",
    "commission-des-affaires-etrangeres",
    "commission-du-developpement-durable-et-de-l-amenagement-du-territoire",
    "commission-de-la-defense-nationale-et-des-forces-armees"
    ]

  sfDoctrineActAsTaggablePlugin:
    triple_distinct:   true

  announce:
    link: "//irfm.regardscitoyens.org"
    text: "Frais des députés, aidez nous à obtenir la transparence"

  admin_ips: >
    [
    ]

  solr:
    host: localhost
    port: 8080
    url: /solr_nosdeputes
    utf8: false

  manet:
    url: http://example.manet.org/

  analytics_id: false
  #analytics_id: UA-XXXXXXX-X
  piwik_domain: false
  #piwik_domain: stats.regardscitoyens.org
  piwik_id: false
  #piwik_id: 2
