# default values
all:
  base_url: http://www.nosdeputes.fr/
  secret_key: _______PUT_YOUR_KEY_HERE________
  legislature: 13
#  fin_legislature: true
#  debut_legislature: "2007-06-20"
#  redirect404tohost: "2007.nosdeputes.fr"
  groupes_actuels: >
    ["GDR", "SRC", "NC", "UMP", "NI"]
# groupes_infos: ['nom / acro / couleur(R,G,B) / legende / regexp_identifiante', ...]   USE DOUBLE QUOTES
  groupes_infos: >
    [
    "Gauche démocrate et républicaine / GDR / 255,30,30 / PCF, PG et rattachés / gauche.*démocrate",
    "Socialiste, radical, citoyen et divers gauche / SRC / 255,50,190 / Socialistes (PS, MRC, PRG et ratt.) / socialiste|radical|citoyen|divers.*gauche",
    "Nouveau centre / NC / 30,180,255 / Nouveau Centre / nouveau.*centre",
    "Union pour un mouvement populaire / UMP / 30,30,200 / UMP et rattachés / union.*mouvement.*populaire",
    "Députés n'appartenant à aucun groupe / NI / 165,165,165 / Non-Inscrits (Modem, Verts, divers) / inscrits|députés.*aucun"
    ]
  groupes_proximite: >
    ["CRC / SOC", "NC / UMP"]

  sfDoctrineActAsTaggablePlugin:
    triple_distinct:   true
