# default values
all:
  base_url: http://www.nosdeputes.fr/
  secret_key: _______PUT_YOUR_KEY_HERE________
  legislature: 13
#  fin_legislature: true
#  debut_legislature: "2007-06-20"
#  redirect404tohost: "2007.nosdeputes.fr"
#  host_next_legislature: "2012.nosdeputes.fr"
  groupes_actuels: >
    ["GDR", "SRC", "NC", "UMP", "NI"]
# groupes_infos: ['nom / acro / couleur(R,G,B) / legende / regexp_identifiante', ...]   USE DOUBLE QUOTES
  groupes_infos: >
    [
    "Gauche démocrate et républicaine / GDR / 255,30,30 / PCF, PG et rattachés / gauche.*démocrate",
    "Socialiste, radical, citoyen et divers gauche / SRC / 255,50,190 / Socialistes (PS, MRC, PRG et ratt.) / socialiste|radical|citoyen|divers.*gauche",
    "Nouveau centre / NC / 30,180,255 / Nouveau Centre / nouveau.*centre",
    "Union pour un mouvement populaire / UMP / 30,30,200 / UMP et rattachés / union.*mouvement.*populaire",
    "Députés n'appartenant à aucun groupe / NI / 165,165,165 / Non-Inscrits (Modem, Verts, divers) / inscrits|députés.*aucun"
    ]
  groupes_proximite: >
    ["CRC / SOC", "NC / UMP"]

# groupes 14eme
#    ["GDR", "SOC", "ECOLO", "RRDP", "UDI", "UMP", "NI"]
#  groupes_infos: >
#    [
#    "Gauche Démocrate et Républicaine / GDR / 255,30,30 / PCF, PG, ultra-marins et rat. / gauche.*d[eéÉ]mocrate",
#    "Socialiste, Républicain et Citoyen / SRC / 255,50,190 / Socialistes (PS, MRC et ratt.) / socialiste",
#    "Radical, Républicain, Démocrate et Progressiste / RRDP / 250,195,132 / Radicaux (PRG, MUP, Modem, ...) / radical",
#    "Écologiste / ECOLO / 0,230,30 / Écologistes (EELV) / [eéÉ]cologiste",
#    "Union des Démocrates et Indépendants / UDI / 30,180,255 / Centristes / d[eéÉ]mocrates.*ind[eéÉ]pendants",
#    "Union pour un Mouvement Populaire / UMP / 30,30,200 / UMP et rattachés / union.*mouvement.*populaire",
#    "Députés Non Inscrits / NI / 165,165,165 / Non-Inscrits (Modem, divers) / inscrits|députés.*aucun"
#    ]
#  groupes_proximite: >
#    ["GDR / SOC", "SOC / ECO", "GDR / ECO", "RRDP / SOC", "RRDP / ECO", "RRDP / UDI", "UDI / UMP"]


  sfDoctrineActAsTaggablePlugin:
    triple_distinct:   true
