<VirtualHost *:80>
  ServerName {{ cpc_domain }}
  ServerSignature Off

  CustomLog ${APACHE_LOG_DIR}/cpc_{{ cpc_instance_name }}_access.log combined
  ErrorLog ${APACHE_LOG_DIR}/cpc_{{ cpc_instance_name }}_error.log

  ProxyVia On
  ProxyRequests Off
  ProxyPass / http://127.0.0.1:{{ cpc_port_web }}/
  ProxyPassReverse / http://127.0.0.1:{{ cpc_port_web }}/
  ProxyPreserveHost On

  <Proxy *>
    Options FollowSymLinks MultiViews
    AllowOverride All
    Order allow,deny
    Allow from all
  </Proxy>
</VirtualHost>

{% for alias in cpc_domain_aliases %}
<VirtualHost *:80>
  ServerName {{ alias }}
  ServerSignature Off

  Redirect / http://{{ cpc_domain }}/

  <Location />
    Order deny,allow
    Allow from all
  </Location>
</VirtualHost>

{% endfor %}
