/* Style général */
body {
  margin: 0;
  padding: 0;
  font: 65% Verdana, "DejaVu Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, Sans-serif;
  color: #484848;
  background-color: #DFDFDF;
}
.temp {
  font-size: 1.1em;
  height: auto;
  padding: 15px;
  background-color: #fff;
  border : 1px solid #BFBFBF;
}
#navigation {
  display: none;
}
#contenu {
  padding: 15px;
  font-size: 1.1em;
}
.haut_droite {
  float: right;
}
.haut_droite input {
  color: #fff;
  background-color: gray;
  border : 1px solid #BFBFBF;
}
.bouton_connexion {
  width: 26px;
  height: 24px;
  margin-right: 5px;
  margin-top: 10px;
  background: transparent url("images/connexion.png") no-repeat 0 0;
}
.bouton_connexion:focus, .bouton_connexion:hover {
  cursor: pointer;
  background: transparent url("images/connexion.png") no-repeat 0 -24px;
}
a:link {
  color: #6F6F6F;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
}
a:active {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}
a:visited {
  color: #6F6F6F;
  text-decoration: none;
  background-color: transparent;
}
img {
  border: none;
}
.stopfloat {
  clear: both;
}
/* Haut */
.haut {
  width: 100%;
  height: 131px;
  margin: 0;
  padding: 0;
  z-index: 10;
}
.conteneur_entete {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  background-color: #000;
}
.entete {
  width: 970px;
  height: 100px;
  margin: auto;
  background: #000 url("images/assemblee-nationale2.png") no-repeat center 0;
}
.logo {
  float: left;
  padding-top: 22px;
}
/* Début menu */
.conteneur_menu {
  width: 100%;
  height: 31px;
  margin: 0;
  padding: 0;
  background: gray url("images/fond_menu.gif") repeat-x 0 0;
}
.menu {
  width: 970px;
  height: 31px;
  margin: auto;
  padding: 0;
  background: gray url("images/fond_menu.gif") repeat-x 0 0;
}
.menu ul, .menu li {
  float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: inline;
}
.menu li { /* element du menu */
  height: 31px;
  text-align: center;
  line-height: 31px;
}
.menu li a { /* style des liens du menu */
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 31px;
  border: 0 none;
  background: url('images/fond_bouton.gif') repeat-x 0 -31px;
}
.menu li a:hover, .menu li a:focus {
  background: url('images/fond_bouton.gif') repeat-x 0 0;
  color: #fff;
  text-decoration: none;
}
.menu li a:active {
  color: #fff;
  text-decoration: none;
}
.menu li a:visited {
  color: #fff;
  text-decoration: none;
}
.neuf {
  width: 9em;
}
.douze {
  width: 12em;
}
.treize {
  width: 13em;
}
.dixhuit {
  width: 18em;
}
/* Fin menu */
.search_box {
  float: right;
  line-height: 31px;
  margin-top: 0;
  margin-bottom: 0;
}
.search_box p {
  margin-top: 0;
  margin-bottom: 0;
}
.bouton_ok {
  background-color: gray;
  color: #fff;
  font-weight: bold;
  border: 1px solid
}
/* Fin haut */

.corps {
  width: 970px;  
  min-height: 600px;
  margin: auto;
  padding: 0;
  border-left : 1px solid #BFBFBF;
  border-right : 1px solid #BFBFBF;
  background: #fff url("images/rayures-horizon.gif") 0 0;
}
/* Bas */
.bas {
  
}
.menu2 {
  width: 970px;
  height: 130px;
  margin: auto;
  padding: 0;
  background-color: #BFBFBF;
  border : 1px solid #AFAFAF;
}
.menu_bas {
  float: left;
}
.conteneur_menu_suite {
  width: 100%;
  height: 130px;
}
.up {
  float: right;
}
.select_style {
  float: left;
  display: inline;
}
.style_switcher {
  float: left;
  line-height: 31px;
  height: 31px;
  font-size: 1.3em;
  font-weight: bold;
  color: #fff;
}
.style_switcher p {
  margin: 0;
  margin-left: 5px;
}
/* Fin style général */

/* Carte des députés */
.conteneur_resultat_dep  {
  float: left;
  width: 435px;
  height: 461px;
  border : 1px solid #BFBFBF;
}
.resultat_dep {
  
}
.image_map {
  float:right;
  border : 1px solid #BFBFBF;
}
/* Début fiche député */
.fiche_depute {
  width: 938px;
  border: 1px solid #BFBFBF;
  background-color: #fff;
}
.fiche_depute h1 {
  line-height: 10px;
}
.fiche_depute h2 {
  padding-left: 5px;
}

.fiche_depute dt, .fiche_depute dd {
  display: inline;
  margin-left: 0;
}
.depute_gauche {
  float: left;
}
.photo_depute {
  height: 150px;
  width: 117px;
  border-right: 1px solid #BFBFBF;
}
.photo_fiche {
  height: 150px;
  width: 117px;
}
.graph_depute {
  float: left;
  position: relative;
  width: 820px;
  height: 150px;
}
.graph_depute img {
  width: 820px;
  height: 150px;
}
.graph_depute h1 {
  font-size: 1.5em;
}
.info_depute {
  position: absolute;
  top: 0;
  left: 10px;
}
.barre_activite {
  float: left;
  width: 100%;
  padding-top: 3px;
  background: #8F8F8F url("images/fond_bas.gif") repeat-x 0 0;
}
.barre_activite ul, .barre_activite li {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite h2 {
  display: inline;
  margin: 0;
  font-size: 1.3em;
  color: #6F6F6F;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite li img{
  margin-left: 25px;
}
.barre_activite a {
  text-decoration: none;
}
.barre_date {
  margin-left: 25px;
}
.logo_parti {
  float: right;
}
.contenu_depute {
  width: 938px;
  background-color: #fff;
  border: 1px solid #BFBFBF;
}
.boite_depute {
  padding: 15px;
  background-color: #fff;
}
.boite_depute h2, #b1 h1 {
  margin-top: 0;
  padding-left: 5px;
  color: #6F6F6F;
  background-color: #EFEFEF;
}
/* les boites principales */
#b1 {
  float: left;
  width: 459px;
}
#b1 h2{
  color: #000;
  background-color: #fff;
  font-size: 1.5em;
}
#b1 h1{
  font-size: 1.6em;
}
#b2 {
  float: left;
  width: 416px;
  border-left: 1px dashed #BFBFBF;
  border-bottom: 1px dashed #BFBFBF;
}
#b3 {
  float: left;
  width: 416px;
  border-left: 1px dashed #BFBFBF;
  border-bottom: 1px dashed #BFBFBF;
}
#b4 {
  float: left;
  width: 416px;
  border-left: 1px dashed #BFBFBF;
}
/**/
.mot_dep {
  text-align: justify;
}
.bas_depute {
  clear: both;
  margin-top: 15px;
  padding: 15px;
  padding-bottom: 7px;
  background-color: #fff;
  border-top: 1px solid #BFBFBF;
}
.bas_depute h2 {
  margin-top: 0;
  padding-left: 5px;
  background-color: #F5F5F5;
}
.bas_depute_g {
  float: left;
}
.statut {
  color: red;
}
/* Boite citoyen b_c = initiales; h = haut, b = bas, hg = haut gauche, etc... */
.boite_citoyen {
  width: 300px;
  height: 100px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border: 1px solid #BFBFBF;
}
.boite_citoyen:hover, .boite_citoyen:focus {
  background-color: #DFDFDF;
}
.b_c_h {
  height: 8px;
}
.b_c_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_c_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.b_c_cont {
  
}
.b_c_photo {
  float: left;
  width: 87px;
  height: 87px;
  margin-left: 8px;
  background: #D0D0D0 url("images/cadre_citoyen.png") no-repeat 0 0;
}
.b_c_photo img {
  width: 75px;
  height: 75px;
  margin: 6px;
  overflow: hidden;
}
.b_c_text {
  float: left;
  width: 188px;
  margin-left: 8px;
  margin-right: 8px;
}
.note {
  float: right;
}
.b_c_b {
  clear: both;
  height: 8px;
}
.b_c_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_c_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/**/
.bas_depute_d {
  float: right;
}
.rss {
  float: right;
  margin: 0;
  padding: 0;
}
/* Boite extrait article */
.boite_extrait_article {
  width: 580px;
  margin-bottom: 10px;
  background-color: #fbfbfb;
  border: 1px solid #BFBFBF;
  
}
.b_e_a_h {
  height: 8px;
}
.b_e_a_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_e_a_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.b_e_a_cont {
  clear: both;
}
.b_e_a_article {
  float: left;
  width: 354px;
  text-align: justify;
}
.b_e_a_article a {
  font-weight: bold;
}
.b_e_a_article p {
  margin-top: 0;
  margin-bottom: 0;
}
.lire_suite {
  float: right;
  color: green;
}
.b_e_a_b {
  clear: both;
  height: 8px;
}
.b_e_a_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_e_a_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/* Mini boite citoyen */
.mini_boite_citoyen {
  float: left;
  width: 200px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #F5F5F5;
  border: 1px solid #EFEFEF;
}
.mini_boite_citoyen:hover, .mini_boite_citoyen:focus {
  background-color: #DFDFDF;
}
.m_b_c_h {
  height: 8px;
}
.m_b_c_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.m_b_c_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.m_b_c_cont {
  
}
.m_b_c_photo {
  float: left;
  width: 52px;
  height: 52px;
  margin-left: 8px;
  background: #D0D0D0 url("images/mini_cadre_citoyen.png") no-repeat 0 0;
}
.m_b_c_photo img {
  width: 46px;
  height: 46px;
  margin: 4px;
  overflow: hidden;
}
.m_b_c_text {
  float: left;
  width: 124px;
  margin-left: 8px;
  margin-right: 8px;
}
.m_b_c_text h3 {
  font-size: 1em;
  margin: 0;
}
.m_b_c_text p {
  margin: 0;
  margin-top: 5px;
}
.m_b_c_b {
  clear: both;
  height: 8px;
}
.m_b_c_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.m_b_c_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/**/
.liens_articles, .tags {
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 0;
  padding-left: 0;
}
.liens_articles li, .tags li, .liens_articles ul, .tags ul   {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}
/* Fin fiche député */

/* Séances */
.titre_int_et_seance {
  min-height: 70px;
  background-color: #fff;
  border: 1px solid #DFDFDF;
  border-bottom: 1px dashed #DFDFDF;
  padding: 15px;
  font-size: 1.1em;
}
.titre_int_et_seance h1 {
  font-size: 1.6em;
  color: #6F6F6F;
  margin-top: 0;
}
.titre_int_et_seance h2 {
  font-size: 1.3em;
  color: #6F6F6F;
}
.titre_int_et_seance img {
  float: right;
  width: 50px;
  height: 64px;
  margin-bottom: 7px;
}
.interventions {
  background-color: #fff;
  border: 1px solid #DFDFDF;
  border-top: none;
  padding: 15px;
}
.interventions a {
  font-weight: bold;
}
.intervention {
  margin-bottom: 10px;
  border-bottom: 1px dashed #DFDFDF;
}
.intervention img {
  float: left;
  width: 50px;
  height: 64px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.intervenant {
  
}
.texte_intervention {
  
}
.commentaires {
  margin-bottom: 10px;
}
.source {
  float: right;
}
.perso {
  font-weight: bold;
}
.perso:first-letter {
  text-transform: uppercase;
}