/* Style général */
body {
	margin: 0;
	padding: 0;
	font: 62.5% Verdana, "DejaVu Sans", "Bitstream Vera Sans", Tahoma, Geneva, Arial, Sans-serif;
	color: #484848;
	background-color: #DFDFDF;
}
#navigation {
	display: none;
}
#contenu {
	padding: 15px;
	background-color: #fff;
}
.haut_droite {
	float: right;
}
.bouton_connexion {
	width: 24px;
	height: 24px;
	margin-right: 5px;
	margin-top: 10px;
	background: transparent url("images/connexion.png") no-repeat 0 0;
}
.bouton_connexion:focus, .bouton_connexion:hover {
	cursor: pointer;
	background: transparent url("images/connexion.png") no-repeat 0 -24px;
}
a:link {
	color: #6F6F6F;
	text-decoration: none;
	background-color: transparent;
}
a:hover {
	color: #000;
	text-decoration: underline;
	background-color: transparent;
}
a:active {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
}
a:visited {
	color: #6F6F6F;
	text-decoration: none;
	background-color: transparent;
}
img {
	border: none;
}
.float_droite {
	float: right;
}
.stopfloat {
	clear: both;
}
/* Haut */
.haut {
	width: 100%;
	height: 131px;
	margin: 0;
	padding: 0;
	z-index: 10;
}
.conteneur_entete {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	background-color: #000;
}
.entete {
	width: 970px;
	height: 100px;
	margin: auto;
	background: #000 url("images/assemblee-nationale2.png") no-repeat center 0;
}
.logo {
	float: left;
	margin-left: 25px;
	padding-top: 22px;
}
/* Début menu */
.conteneur_menu {
	width: 100%;
	height: 31px;
	margin: 0;
	padding: 0;
	background: gray url("images/fond_menu.gif") repeat-x 0 0;
}
.menu {
	width: 970px;
	height: 31px;
	margin: auto;
	padding: 0;
	background: gray url("images/fond_menu.gif") repeat-x 0 0;
}
.menu ul, .menu li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline;
}
.menu li { /* element du menu */
	height: 31px;
	text-align: center;
	line-height: 31px;
}
.menu li a { /* style des liens du menu */
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
	width: 100%;
	height: 31px;
	border: 0 none;
	background: url('images/fond_bouton.gif') repeat-x 0 -31px;
}
.menu li a:hover, .menu li a:focus {
	background: url('images/fond_bouton.gif') repeat-x 0 0 ;
	color: #fff;
	text-decoration: none;
}
.menu li a:active {
	color: #fff;
	text-decoration: none;
}
.menu li a:visited {
	color: #fff;
	text-decoration: none;
}
.neuf {
	width: 9em;
}
.douze {
	width: 12em;
}
.treize {
	width: 13em;
}
.dixhuit {
	width: 18em;
}
/* Fin menu */
.search_box {
	float: right;
	line-height: 31px;
	margin-top: 0;
	margin-bottom: 0;
}
.search_box p {
	margin-top: 0;
	margin-bottom: 0;
}
.bouton_ok {
	background-color: gray;
	color: #fff;
	font-weight: bold;
	border: 1px solid
}
/* Fin haut */

.corps {
	width: 970px;
	height: 800px;
	margin: auto;
	padding: 0;
	background-color: #fff;
	border-left : 1px solid #BFBFBF;
	border-right : 1px solid #BFBFBF;
}
/* Bas */
.conteneur_menu_suite {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 31px;
	background: #D0D0D0 url("images/fond_bas.gif") repeat-x 0 0;
	z-index: 10;
}
.mini_logo {
	float: left;
}
.select_style {
	float: left;
	display: inline;
}
.style_switcher {
	float: left;
	line-height: 31px;
	height: 31px;
	font-size: 1.3em;
	font-weight: bold;
	color: #fff;
}
.style_switcher p {
	margin: 0;
	margin-left: 5px;
}
.bas {
	
}
/* Fin style général */

/* Carte des députés */
.conteneur_resultat_dep  {
	float: left;
	width: 435px;
	height: 461px;
	border : 1px solid #BFBFBF;
}
.resultat_dep {
	
}
.image_map {
	float:right;
	border : 1px solid #BFBFBF;
}
/* Début fiche député */
.fiche_depute {
	width: 938px;
	border: 1px solid #BFBFBF;
	background-color: #fff;
}
.fiche_depute h1 {
	line-height: 10px;
}
.fiche_depute h2 {
	padding-left: 5px;
	background-color: #EFEFEF;
}

.fiche_depute dt, .fiche_depute dd {
	display: inline;
	margin-left: 0;
}
.depute_gauche {
	float: left;
}
.photo_fiche {
	height: 150px;
	width: 117px;
	border-right: 1px solid #BFBFBF;
}
.depute_milieu {
	float: left;
	margin-left: 10px;
	width: 380px;
}
.depute_milieu ul {
	padding-left: 20px;
}
.depute_droite {
	float: right;
	width: 390px;
	margin-right: 10px;
}
.barre_activite {
	float: left;
	width: 100%;
	padding-top: 3px;
	background-color: #EFEFEF;
}
.barre_activite ul, .barre_activite li {
	display: inline;
	margin: 0;
	padding: 0;
	font-weight: bold;
	background-color: transparent;
}
.barre_activite h2 {
	display: inline;
	margin: 0;
	background-color: transparent;
}
.barre_activite li img{
	margin-left: 25px;
}
.barre_activite a {
	text-decoration: none;
}
.contenu_depute {
	width: 938px;
	margin-bottom: 31px;
}
.boite_depute {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #BFBFBF;
}
.boite_depute h2 {
	margin-top: 0;
	padding-left: 5px;
	color: #fff;
	background-color: #808080;
}
.mot_dep {
	text-align: justify;
}
.bas_depute {
	margin-top: 15px;
	padding: 15px;
	border: 1px solid #BFBFBF;
}
.bas_depute h2 {
	margin-top: 0;
	padding-left: 5px;
	background-color: #F5F5F5;
}
.bas_depute_g {
	float: left;
}
.statut {
	color: red;
}
/* Boite citoyen */
.boite_citoyen {
	width: 300px;
	height: 100px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	background-color: #F5F5F5;
	border: 1px solid #BFBFBF;
}
.boite_citoyen:hover, .boite_citoyen:focus {
	background-color: #DFDFDF;
}
.b_c_h {
	height: 8px;
}
.b_c_hg {
	float: left;
	height: 8px;
	width: 8px;
}
.b_c_hd {
	float: right;
	height: 8px;
	width: 8px;
}
.b_c_cont {
	
}
.b_c_photo {
	float: left;
	width: 87px;
	height: 87px;
	margin-left: 8px;
	background: #D0D0D0 url("images/cadre_citoyen.png") no-repeat 0 0;
}
.b_c_photo img {
	width: 75px;
	height: 75px;
	margin: 6px;
	overflow: hidden;
}
.b_c_text {
	float: left;
	width: 188px;
	margin-left: 8px;
	margin-right: 8px;
}
.note {
	float: right;
}
.b_c_b {
	clear: both;
	height: 8px;
}
.b_c_bg {
	float: left;
	height: 8px;
	width: 8px;
}
.b_c_bd {
	float: right;
	height: 8px;
	width: 8px;
}
/**/
.bas_depute_d {
	float: right;
}
.rss {
	float: right;
}
/* Boite extrait article */
.boite_extrait_article {
	width: 580px;
	margin-bottom: 10px;
	background-color: #fbfbfb;
	border: 1px solid #BFBFBF;
	
}
.b_e_a_h {
	height: 8px;
}
.b_e_a_hg {
	float: left;
	height: 8px;
	width: 8px;
}
.b_e_a_hd {
	float: right;
	height: 8px;
	width: 8px;
}
.b_e_a_cont {
	clear: both;
}
.b_e_a_article {
	float: left;
	width: 354px;
	text-align: justify;
}
.b_e_a_article a {
	font-weight: bold;
}
.b_e_a_article p {
	margin-top: 0;
	margin-bottom: 0;
}
.lire_suite {
	float: right;
	color: green;
}
.b_e_a_b {
	clear: both;
	height: 8px;
}
.b_e_a_bg {
	float: left;
	height: 8px;
	width: 8px;
}
.b_e_a_bd {
	float: right;
	height: 8px;
	width: 8px;
}
/* Mini boite citoyen */
.mini_boite_citoyen {
	float: left;
	width: 200px;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #F5F5F5;
	border: 1px solid #EFEFEF;
}
.mini_boite_citoyen:hover, .mini_boite_citoyen:focus {
	background-color: #DFDFDF;
}
.m_b_c_h {
	height: 8px;
}
.m_b_c_hg {
	float: left;
	height: 8px;
	width: 8px;
}
.m_b_c_hd {
	float: right;
	height: 8px;
	width: 8px;
}
.m_b_c_cont {
	
}
.m_b_c_photo {
	float: left;
	width: 52px;
	height: 52px;
	margin-left: 8px;
	background: #D0D0D0 url("images/mini_cadre_citoyen.png") no-repeat 0 0;
}
.m_b_c_photo img {
	width: 46px;
	height: 46px;
	margin: 4px;
	overflow: hidden;
}
.m_b_c_text {
	float: left;
	width: 124px;
	margin-left: 8px;
	margin-right: 8px;
}
.m_b_c_text h3 {
	font-size: 1em;
	margin: 0;
}
.m_b_c_text p {
	margin: 0;
	margin-top: 5px;
}
.m_b_c_b {
	clear: both;
	height: 8px;
}
.m_b_c_bg {
	float: left;
	height: 8px;
	width: 8px;
}
.m_b_c_bd {
	float: right;
	height: 8px;
	width: 8px;
}
/**/
.liens_articles, .tags {
	list-style-type: none;
	font-size: 1.2em;
	margin-left: 0;
	padding-left: 0;
}
.liens_articles li, .tags li, .liens_articles ul, .tags ul   {
	display: inline;
	margin-left: 0;
	padding-left: 0;
}
/* Fin fiche député */