<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
	<head>
		<title>Template</title>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.gif" />
		<link rel="stylesheet" type="text/css" media="screen" href="style.css" />
	</head>
	
	<body>
		<div id="contenu">
			<div id="top">
				<div class="initiative">
					<a href="http://www.regardscitoyens.org/" onclick="return(window.open(this.href)?false:true);"><img src="images/top_initiative.png" alt="Une initiative de RegardsCitoyens.fr" title="RegardsCitoyens.fr" /></a>
				</div>
				<div class="identification">
					<form method="get" action="">
					<p>
					<button type="submit" name="" id="b2"></button>
					<button type="submit" name="" id="b1"></button>
					<input type="text" name="" value="&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;" onfocus="if(this.value=='&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;')this.value ='';" onblur="if(this.value=='')this.value ='&#149;&#149;&#149;&#149;&#149;&#149;&#149;&#149;';"/>
					<input type="text" name="" value="Identifiant" onfocus="if(this.value=='Identifiant')this.value ='';" onblur="if(this.value=='')this.value ='Identifiant';" />
					</p>
					</form>
				</div>
			</div>
			<div id="header">
				<a href="#"><img src="images/header_logo.png" alt="NosDeput&eacute;s.fr" title="NosDeput&eacute;s.fr" /></a>
			</div>
			<div id="menu">
				<div class="menu_navigation">
					<div id="item1"><a href="#"></a></div>
					<div id="item2"><a href="#"><span class="gris">Les</span> <span class="vert">D</span><span class="gris">&eacute;put&eacute;s</span></a></div>
					<div id="item3"><a href="#"><span class="gris">Les</span> <span class="orange">D</span><span class="gris">ossiers</span></a></div>
					<div id="item4"><a href="#"><span class="gris">Les</span> <span class="bleu">C</span><span class="gris">itoyens</span></a></div>
					<div id="item5"><a href="#"><span class="gris">FAQ</span></a></div>
				</div>
				<div class="menu_recherche">
					<form action="/rechercher" method="get">
						<p>
                            <select class="type_recherche" name="type">
								<option value="depute">Députés</option>
								<option value="departement">Départements</option>
								<option value="profession">Profession</option>
								<option value="intervention">Interventions</option>
								<option value="amendement">Amendements</option>
							</select>
							<img src="images/recherche_fleche.png" alt="" title="" />
							<input class="bouton_ok" value="" type="submit"/>
							<input class="rechercher" name="search" type="text" size="15" value=""/>
						</p>
					</form>
				</div>
			</div>
			<div id="sous_menu">
				<div id="sous_menu_1" style="display:inline"></div>
				<div id="sous_menu_2" style="display:none"></div>
				<div id="sous_menu_3" style="display:none"></div>
				<div class="elements_sous_menu">
					<ul>
						<li><a href="#">El&eacute;ment 1</a> |</li>
						<li><a href="#">El&eacute;ment 2</a> |</li>
						<li><a href="#">El&eacute;ment 3</a> |</li>
						<li><a href="#">El&eacute;ment 4</a> |</li>
						<li><a href="#">El&eacute;ment 5</a></li>
					</ul>
				</div>
			</div>
			<div id="corps_page">
				<div class="contenu_page">
					<img src="images/IMAGE_FOND_DEMO.png" alt="IMAGE FOND DEMO" title="IMAGE FOND DEMO" /> <!-- demo -->
				</div>
			</div>
			<div id="bottom">
				<a href=""><img src="images/bottom_plansite.png" alt="Plan du site" title="Plan du site" /></a>
				<a href=""><img src="images/bottom_qui.png" alt="Qui sommes-nous" title="Qui sommes-nous" /></a>
			</div>
		</div>
	</body>
</html>