# default values
all:
  base_url: http://{{ cpc_domain }}/
  secret_key: {{ cpc_secret.stdout }}
  legislature: {{ cpc_leg_options.legislature }}
{% if cpc_senat %}
  debut_mandature: '{{ cpc_leg_options.debut_mandature }}'
  debut_data: '{{ cpc_leg_options.debut_data }}'
{% else %}
  debut_legislature: '{{ cpc_leg_options.debut_legislature }}'
  fin_legislature: {{ cpc_leg_options.fin_legislature }}
  host_previous_legislature: {{ cpc_leg_options.host_prev }}
  host_next_legislature: {{ cpc_leg_options.host_next }}
  lock_commentaires: false
  allow_autoclean_solr: false
{% endif %}

  groupes_actuels: >
    {{ cpc_leg_options.groupes_actuels|indent }}
# groupes_infos: ['nom / acro / couleur(R,G,B) / legende / regexp_identifiante', ...]   USE DOUBLE QUOTES
  groupes_infos: >
    {{ cpc_leg_options.groupes_infos|indent }}

{% if cpc_senat == false %}
  groupes_proximite: >
    {{ cpc_leg_options.groupes_proximite|indent }}
  commissions_permanentes: >
    {{ cpc_leg_options.commissions_permanentes|indent }}
{% endif %}

  sfDoctrineActAsTaggablePlugin:
    triple_distinct:   true

{% if cpc_announce is defined %}
  announce:
    link: "{{ cpc_announce.link }}"
    text: "{{ cpc_announce.text}}"
{% endif %}

{% if cpc_senat == false %}
  admin_ips: >
    [
    {% for ip in cpc_admin_ips %}
    "{{ ip }}",
    {% endfor %}
    ]

  solr:
    host: solr
    port: 8080
    url: /solr_cpc
    utf8: false

  manet:
    url: {{ cpc_manet_url }}
{% endif %}

  analytics_id: {{ cpc_analytics_id }}
  piwik_domain: {{ cpc_piwik_domain }}
  piwik_id: {{ cpc_piwik_id }}
