{{ cpc_home }}/repo/log/*.log {{ cpc_home }}/repo/log/*.sql {
    daily
    missingok
    rotate 14
    compress
    delaycompress
    notifempty
    create 640 {{ cpc_user }} {{ cpc_user }}
    su {{ cpc_user }} {{ cpc_user }}
    sharedscripts
    postrotate
        if /usr/local/bin/dc-{{ cpc_instance_name }} exec -T web /etc/init.d/apache2 status > /dev/null ; then \
            /usr/local/bin/dc-{{ cpc_instance_name }} exec -T web /etc/init.d/apache2 reload > /dev/null; \
        fi;
    endscript
}
