body {
  margin: 0;
  padding: 0;
  font: 11px Verdana, Tahoma, Geneva, Arial, Sans-serif;
  color: #484848;
  background: #e4e4e1 url('images/mosaique.gif') repeat;
}

/* Captcha */
.captcha {
  width: 346px;
  background-color: #fff;
}
.image_captcha {
  float: left;
  width: 157px;
  height: 78px;
  background: url('images/captcha_fond.png') no-repeat 0 0;
}
.image_captcha img {
  height: 54px;
  width: 134px;
  border: 1px solid #AAA9AD;
  margin: 10px;
}
.images_fonctions {
  float: left;
  width: 30px;
  height: 76px;
  background-color: #EFEFEF;
  border: 1px solid #AFAFAF;
}
.images_fonctions img {
  float: left;
  padding-top: 10px;
  padding-left: 3px;
}
.cont_code {
  float: right;
  width: 157px;
  height: 78px;
  background: url('images/captcha_fond.png') no-repeat -8px 0;
}
.entrer_code {
  width: 134px;
  height: 54px;
  text-align: center;
  line-height: 22px;
  margin: 10px;
}

/* Formulaires classiques */
.form {
  height: auto;
  min-height: 200px;
  text-align: left;
  background: #fff url('images/logo_nosdeputes_fond.png') no-repeat 85% center;
}
.form table {
  width: 50%;
  border-collapse: collapse;
}
.form td, .form th {
  padding: 10px;
  border-bottom: 1px dashed #E8E7E4;
}
.form th {
  text-align: left;
}
.form td {
  text-align: right;
}

/* Formulaires inscription et connexion */
.boite_form {
  width: 550px;
  min-width: 550px;
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  background: #fff url('images/minilogo_nosdeputes_fond.png') no-repeat 95% 60px;
}
.b_f_h {
  height: 21px;
  background: #FCFCFC url('images/barres_form.png') repeat-x 0 0;
}
.b_f_hg {
  float: left;
  height: 21px;
  width: 21px;
  background: url('images/coins_form.png') no-repeat 0 0;
}
.b_f_hd {
  float: right;
  height: 21px;
  width: 21px;
  background: url('images/coins_form.png') no-repeat -21px 0;
}
.b_f_cont {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #C2C2BF;
  border-right: 1px solid #C2C2BF;
}
.b_f_cont table {
  text-align: left;
  border-collapse: collapse;
}
.b_f_cont td, .b_f_cont th {
  padding: 10px;
  border-bottom: 1px dashed #E8E7E4;
}
.b_f_cont th {
  text-align: left;
}
.b_f_cont td {
  text-align: right;
}
.bf_cont h1 {
  margin: 0;
}
.b_f_text {
  
}
.b_f_b {  
  height: 21px;
  background: #FCFCFC url('images/barres_form.png') repeat-x 0 -21px;
}
.b_f_bg {
  float: left;
  height: 21px;
  width: 21px;
  background: url('images/coins_form.png') no-repeat 0 -21px;
}
.b_f_bd {
  float: right;
  height: 21px;
  width: 21px;
  background: url('images/coins_form.png') no-repeat -21px -21px;
}
.cel1 {
  /* background-color: #EFEAE0; */
}
.cel2 {
  background-color: #FCFCFC;
}

/* Boite citoyen b_c = initiales; h = haut, b = bas, hg = haut gauche, etc... */
.boite_citoyen {
  float: left;
  width: 100%;
  margin-top: 15px;
  background-color: #FFFFFD;
}
.b_c_h {
  width: 100%;
  height: 10px;
  background: url('images/barres_citoyen.png') repeat-x 0 0;
}
.b_c_hg {
  float: left;
  width: 10px;
  height: 10px;
  background: url('images/coins_citoyen.png') no-repeat 0 0;
}
.b_c_hd {
  float: right;
  width: 10px;
  height: 10px;
  background: url('images/coins_citoyen.png') no-repeat -10px 0;
}
.b_c_cont {
  float: left;
  width: 99.8%;
  border-left: 1px solid #E8E7E4;
  border-right: 1px solid #E8E7E4;
}
.b_c_photo {
  float: left;
  padding: 14px;
}
.b_c_photo img {

}
.b_c_text {
  float: left;
}
.b_c_text ul {
  padding-left: 15px;
}
.b_c_text h1 {
  margin-top: 12px;
}
.b_c_b {
  float: left;
  width: 100%;
  height: 10px;
  background: url('images/barres_citoyen.png') repeat-x 0 -10px;
}
.b_c_bg {
  float: left;
  width: 10px;
  height: 10px;
  background: url('images/coins_citoyen.png') no-repeat 0 -10px;
}
.b_c_bd {
  float: right;
  width: 10px;
  height: 10px;
  background: url('images/coins_citoyen.png') no-repeat -10px -10px;
}
/**/

/* Tags */
.internal_tag_cloud a:link {color:#6F6F6F;}
.tag_level_0 {font-size: 0.8em;}
.tag_level_1 {font-size: 0.9em;}
.tag_level_2 {font-size: 1em;}
.tag_level_3 {font-size: 1.5em;}
.tag_level_4 {font-size: 1.7em;}
.tag_level_4 a {color: #FFF;}
/**/

.temp {
  font-size: 1.1em;
}

#contenu {
  width: 1060px;
  overflow:hidden;
  margin: 0 auto;
  padding:0;
}

img { border:0; }

h1 a:link { color: inherit; }
  
a:link {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:active {
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: inherit;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #000;
  text-decoration: underline;
  background-color: transparent;
}

h1 {
  font-size: 1.6em;
  color: #6F6F6F;
  font-family: Verdana, Tahoma, Geneva, Arial, Sans-serif;
  margin-top:20px;
  margin-bottom:10px;
  text-align: center;
}

.stopfloat {
  clear: both;
}

.flash_notice, .flash_error {
  font-size: 1.1em;
  height: auto;
  padding: 15px;
  margin-top: 15px;
  margin-right: 8px;
  padding-left: 55px;
  border : 1px solid #BFBFBF;
}

.flash_notice {
  background: #fff url("images/flash_notice.png") no-repeat 15px center;
}

.flash_error {
  background: #fff url("images/flash_error.png") no-repeat 15px center;
}

/* top - barre du haut */

#top {
  height:32px;
  width: 1060px;
  background: url('images/top.png') no-repeat;
  overflow:hidden;
}

.initiative {
  float:left;
  height:32px;
  width:225px;
}

.identification {
  float:right;
}

.identification p {
  margin:0;
  padding:0;
}

.identification form {
  margin:3px 0 0 0;
}

.identification input {
  float:left;
  width:120px;
  height:20px;
  border:0;
  margin:0;
  background: url('images/top_input.png') no-repeat;
  padding: 3px 0 0 10px;
  color: #656565;
  font: 8pt Tahoma, Geneva, Arial, Sans-serif;
}

#loggued_top {
  margin:6px 20px 0 0;
}

#header_remember {
  float:left;
  width:14px;
  margin:1px 9px 0 0;
  padding:0;
  background:none;
}

#bt2 {
  float:left;
  width: 80px;
  height:20px;
  border:0;
  margin:0 50px 0 0;
  background: url('images/top_button2.png') no-repeat;
  cursor:pointer;
}

#bt1 {
  float:left;
  width: 28px;
  height:20px;
  border:0;
  margin:0 10px 0 0;
  background: url('images/top_button1.png') no-repeat;
  cursor:pointer;
}

.loggued {
  float:left;
}

/* header - logo */

#header {
  width: 1060px;
  height:147px;
  background: url('images/header.png') no-repeat;
  overflow:hidden;
}

#header img {
  width:629px;
  height:147px;
  margin-left:44px;
}

/* menu - barre de navigation - champ de recherche */

#menu {
  width: 1060px;
  height:35px;
  background: url('images/menu.png') no-repeat;
  overflow:hidden;
}

.menu_navigation {
  float:left;
  height:35px;
  width:682px;
  overflow:hidden;
  padding-left:45px;
}

.menu_navigation a {
  display:block;
  height:35px;
  font: 13pt Georgia, Tahoma, Geneva, Arial, Sans-serif;
  padding-top:5px;
  text-decoration:none;
  text-align:center;
}

.gris {   
  color:#3c3c3c;
}

.vert {
  color:#8aa915;
}

.orange {
  color:#d4963e;
}

.bleu {
  color:#12a8d2;
}

#item1 a {
  float:left;
  background: url('images/menu_item1.png') no-repeat 0 0;
  width:89px;
}

#item2  a {
  float:left;
  background: url('images/menu_item2.png') no-repeat 0 0;
  width:166px;
}

#item3  a {
  float:left;
  background: url('images/menu_item3.png') no-repeat 0 0;
  width:166px;
}

#item4 a {
  float:left;
  background: url('images/menu_item4.png') no-repeat 0 0;
  width:166px;
}

#item5  a {
  float:left;
  background: url('images/menu_item5.png') no-repeat 0 0;
  width:74px;
  padding-top:10px;
  font-size: 8pt;
  font-weight:bold;
}

#item1 a.selected, #item2 a.selected, #item3 a.selected, #item4 a.selected, #item1 a:hover, #item1 a:focus, #item2 a:hover, #item2 a:focus, #item3 a:hover, #item3 a:focus, #item4 a:hover, #item4 a:focus {
  background-position: 0 -35px;
}

.menu_recherche {
  height:20px;
  width:283px;
  float:right;
  margin:7px 50px 0 0;
  overflow:hidden;
}

.type_recherche {
  color: #484848;
  font: 8pt Tahoma, Geneva, Arial, Sans-serif;
  float:left;
  margin-top:0px;
  max-width: 115px;
}

.menu_recherche p {
  margin-top: 0;
  margin-bottom: 0;
}

.menu_recherche  img {
  float:left;
  margin-left:5px;
  margin-right:4px;
}

.rechercher {
  float:left;
  width:111px;
  height:20px;
  border:0;
  margin:0;
  background: url('images/recherche.png') top left no-repeat;
  padding: 3px 0 0 10px;
  color: #656565;
  font: 8pt Tahoma, Geneva, Arial, Sans-serif;
  color: #484848;
}

.bouton_ok {
  float:left;
  width: 29px;
  height:20px;
  border:0;
  margin:0;
  background: url('images/recherche.png') top right no-repeat;
  cursor:pointer;
}

/* sous menu  */

#sous_menu {
  width:1060px;
  height:50px;
  background: url('images/sous_menu.png') no-repeat;
  overflow:hidden;
}

.elements_sous_menu {
  padding-top:3px;
  position:absolute;
}

#sous_menu_1 .elements_sous_menu {
  padding-left: 160px;
}
#sous_menu_2 .elements_sous_menu {
  padding-left: 260px;
}
#sous_menu_3 .elements_sous_menu {
  padding-left: 180px;
}
  .elements_sous_menu  a, .elements_sous_menu a:visited {
  text-decoration:none;
  letter-spacing:0.7pt;
  color:black;
}

  .elements_sous_menu  a:hover {
  text-decoration:underline;
  letter-spacing:0.7pt;
  color:black;
  background-color:#eee;
}
  .elements_sous_menu ul {
  float:left;
  padding:0;
  margin:0;
  font-size: 8pt;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  }
    
  .elements_sous_menu   li{
  display: block ;
  float:left;
  padding:0;
  margin:0;
  margin-left:4px;
  }
  
  #sous_menu_1 {
  float:left;
  width:1060px;
  height:21px;
  background: url('images/sous_menu_1.png');
  }
  
  #sous_menu_2 {
  float:left;
  width:1060px;
  height:21px;
  background: url('images/sous_menu_2.png');
  }
  
  #sous_menu_3 {
  float:left;
  width:1060px;
  height:21px;
  background: url('images/sous_menu_3.png');
  }

/* corps de page */

#corps_page {
  width:1060px;
  background: url('images/corps_page.png');
}

.contenu_page {
  min-height:400px;
  width:920px;
  overflow:hidden;
  margin-left:auto;
  margin-right:auto;
}

/* bottom - pied de page */

#bottom {
  width:1060px;
  height:42px;
  background: url('images/bottom.png');
}

#bottom a {
  float:right;
}

/* Carte des d�put�s */
.conteneur_resultat_dep  {
  float: left;
  width: 435px;
  height: 461px;
  border : 1px solid #BFBFBF;
}
.resultat_dep {
  
}
.photos {
  text-align: center
}
.image_map {
  float:right;
  border : 1px solid #BFBFBF;
}


/* D�but fiche d�put� */
.fiche_depute {
  width: 938px;
  overflow:hidden;
}
.fiche_depute h1 {
  text-align: center;
  margin:30px 0 20px 0;
}
.fiche_depute h2 {
  padding-left: 5px;
}

.fiche_depute dt, .fiche_depute dd {
  display: inline;
  margin-left: 0;
}
.info_depute {
  position: relative;
  top: 0;
}
.info_depute h1 {
  font-size: 1.7em;
}
.info_depute p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.depute_gauche {
  float: left;
}
.depute_droite {
  float: right;
  width: 92%;
  position: relative;
  height: 90px;
}
.depute_droite h1 {
  font-size: 2.0em;
  text-align: center;
}
.depute_droite h1 soustitre {
  font-size: 0.8em;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.depute_droite h2 {
  font-size: 1.5em;
  text-align: center;
}
.photo_depute img{
  width: 125px;
}
.photo_depute {
  height:160px;
  width:125px;
  border: 2px solid #dcd6ca;
}
.graph_depute {
  float: right;
  width: 800px;
  height: 170px;
  margin-right: 3px;
}
.graph_depute p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.barre_activite {
  float: left;
  width: 920px;
  margin-top:10px;
  padding-top: 3px;
  background: #8F8F8F url("images/fond_bas.gif") repeat-x 0 0;
}
.barre_activite ul, .barre_activite li {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite h2 {
  display: inline;
  margin: 0;
  font-size: 1.3em;
  color: #6F6F6F;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite li img{
  margin-left: 25px;
}
.barre_activite a {
  text-decoration: none;
}
.barre_date {
  margin-left: 25px;
}
.contenu_depute li{
  list-style-type: none;
}
.contenu_depute {
  width: 918px;
  overflow:hidden;
  border: 1px solid #d6d6d6;
  margin-bottom:20px;
}
.boite_depute {
  padding: 15px;
  background-color: #fff;
}
.boite_depute h2, #b1 h1 {
  margin-top: 0;
  padding-left: 5px;
  color: #6F6F6F;
  background-color: #dbd5c8;
}
/* les boites principales */
#b1 {
  float: left;
  width: 440px;
}
#b2 {
  float: left;
  width: 414px;
}
#b3 {
  float: left;
  width: 414px;
}
#b4 {
  float: right;
  width: 414px;
}
/**/
.meilleur_pire {
  padding-bottom:10px;
  border-bottom:1px dashed  #BFBFBF;
}

.meilleur_pire h3 {
  background-color: #ebebeb;
}

.b_d_infos  h3{
  
}

.bas_depute {
  clear: both;
  margin-top: 15px;
  padding: 15px;
  padding-bottom: 7px;
  background-color: #fff;
  border-top: 1px solid #BFBFBF;
}
.bas_depute h2 {
  margin-top: 0;
  padding-left: 5px;
  background-color: #F5F5F5;
}
.bas_depute_g {
  float: left;
}
.statut {
  color: red;
}

.bas_depute_d {
  float: left;
}

.bas_depute_d img {
  padding-left:10px;;
}

.rss {
  margin: 0;
  padding: 0;
  padding-left: 5px;
}

.liens_articles, .tags {
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 0;
  padding-left: 0;
}
.liens_articles li, .tags li, .liens_articles ul, .tags ul   {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}
/* Fin fiche depute */

/* Seances */
.titre_int_et_seance {
  min-height: 70px;
  background-color: #fff;
  font-size: 1.1em;
}
h2 {
  font-size: 1.3em;
  color: #6F6F6F;
  margin-top: 10px;
}
.interventions {
  background-color: #fff;
  border-top: none;
  padding: 15px;
  padding-top: 0px;
}
.interventions a {
  font-weight: bold;
}
.intervention {
  margin-bottom: 10px;
  border-bottom: 1px dashed #DFDFDF;
}

.intervention .source {
        display: none;
}
.intervention:hover .source {
    display: inline;
}

.intervention .section, .intervention .sous-section{
        text-align: center;
}

.intervenant img {
  float: left;
  width: 50px;
  height: 64px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.intervenant {
  
}
.texte_intervention {

}
.indent_guillemets {
  padding-left: 20px;
}
.carte_departement {
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}
.didascalie {
  font-style: oblique;
}
/* form commentaires */
.inscription {
  border: 1px solid #E8E7E4;
}
.connexion {
  float: right;
  border: 1px solid #E8E7E4;
}
.inscription td, .connexion td, .inscription th, .connexion th {
  padding: 10px;
  border-bottom: 1px dashed #E8E7E4;
}
/* commentaires */
.link_comment {
  height: 11px;
  float: right;
  margin-top: 0px;
  margin-bottom: 13px;
}
.commentaires {
  clear:both;
  margin-bottom: 15px;
}
.commentaire_avatar {
  float: left;
  margin-right: 7px;
  margin-bottom: 7px;
}
.commentaire_avatar img {
  width: 50px;
  height: 50px;
}
.titre_commentaire {
  font-weight: bold;
}
.commentaire {
  clear:both;
  min-height: 104px;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 15px;
  border: 1px dashed #E0E0DD;
}

.commentaire a {
  text-decoration: underline;
}

.commentaire span a {
  text-decoration: none;
}

.commentaire span a:hover {
  text-decoration: underline;
}

.commentaires com_link {
  float: right;
}

.source {
  float: right;
  margin-top: 0px;
  text-decoration: underline;
}

.question,.loi p {
  text-align: justify;
}

.question p:first-letter {
  padding-left: 20px;
}

.loi p:first-letter {
  padding-left: 20px;
}
.loi li {
  margin-left: -15px;
}
.loi blockquote {
  margin-left: 8px;
}

.loi p a {
  text-decoration: underline;
}

.auteurloi {
  float: right;
}

.loi h2, .loi h3 {
  text-align: center;
  text-decoration: none;
}

.pagerloi {
  font-size: 0.8em;
}

.pagerloi precedent {
  float: left;
}

.pagerloi suivant {
  float: right;
  text-align: right;
}
.loi tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: super;
  text-align: left;
}

.loi .commentaires tr {
  vertical-align: middle;
}

.alineanumero p {
  padding-right: 7px;
}

.alineas p {
  margin-bottom: 2px;
}
.alineas .alineanumero p {
  margin-top: 10px;
}
.alinea_select td {
  font-weight: bold;
}
.alineanumero {
  width: 30px;
  font-size: 0.8em;
}
.alineatexte {
  width: 870px;
}
.alineatexte p:first-letter {
  padding-left: 0px;
}
.alineatexte a, .alineatexte a:link, .alineatexte a:hover {
  text-decoration: underline;
}

.alineatexte p {
  margin-top: 0px;
  margin-bottom: -15px;
}
.alineatexte .com_link {
  display: none;
  float: right;
  margin-top: 13px;
  margin-bottom: 0px;
  margin-right: 25px;
  height: 11px;
}

.alineatexte .commentaires .com_ajax {
  margin-top: 22px;
  margin-left: 10px;
}
.alineatexte .commentaires {
  clear: both;
  margin: auto;
}

.alineatexte .commentaire_avatar img {
  margin: 6px;
}

.loi .alineatexte .commentaire a {
  text-decoration: none;
  font-weight: bold;
}

.alineatexte:hover span {
  display: inline;
  font-weight: bold;
}

.alineatexte .commentaire span {
  float: left;
  display: inline;
}

.alineatexte .commentaire p {
  margin: 6px;
  text-align: left;
}

.alineatexte .commentaire .clear {
  text-align: right;
}

.alineatexte .commentaires com_link {
  float: right;
}

.perso {
  font-weight: bold;
  width: 670px;
}
.perso:first-letter {
  text-transform: uppercase;
}
.loading{
  background: transparent url(/images/loading.gif) no-repeat scroll 0 0
}

/* Dossiers législatifs */

.numeros_textes {
  border-bottom: 1px solid #b3aea4;
  margin:20px 50px 20px 30px;
}

.titre_int_et_seance .nuage_de_tags {
  float:right;
}

.nuage_de_tags {
  min-height:172px;
  margin:5px 0 0 40px;
  padding:5px;
  text-align:justify;
  background-color: #f7f7f7;
  border: 1px solid #9a9a9a;
}
.nuage_de_tags .hide {
  color: #f7f7f7;
  font-size: 6px;
}
.nuage_de_tags h3 {
  padding: 0px;
  margin: 0 0 10px;
}

.plot_section, .plot_seance {
  text-align: center;
}
.titre_int_et_seance .plot_section, .titre_int_et_seance .plot_seance {
  padding-right: 300px;
}
.nuage_de_tags p{
  background-color:#dbd5c8;
}

.orga_dossier  {
  padding-top:20px;
}

.orga_dossier li {
  list-style: none
}

.orga_dossier li .dossier {display: none;}
.orga_dossier li:hover .dossier {display: inline;}

.orga_dossier p {
  background-color:#dbd5c8;
}

.seances_dossier {
  clear:both;
  margin:auto;
  padding-top:15px;
}

.seances_dossier p {
  background-color:#dbd5c8;
}

.orateurs_dossier  {
  clear:both;
  margin:auto;
  padding-top:10px;
  padding-bottom:20px;
}

.orateurs_dossier p {
  background-color:#dbd5c8;
}

/* Liste d�put�s */

.liste_deputes  {
  margin: 20px 10px 20px 0;
}

.suivant {
  text-align: right;
}

.liste_deputes p {
  font-size: 1.2em;
}

/* Liste d�put�s */

.liste_deputes_tags  {
  margin: 20px 10px 30px 0;
  padding:5px 20px 20px 20px;
  border: 1px dashed #aeaeae;
  text-align:justify;
}

.liste_deputes_tags p {
  background-color:#dbd5c8;
  font-size: 1.2em;
}

/* Travaux parlementaires */

.travaux_parlementaires {
  margin: 20px 10px 20px 0;
}

.travaux_parlementaires p {
  background-color:#dbd5c8;
  font-size: 1.2em;
}

/* interventions */

.info {
  margin:20px;
  background-color:#dbd5c8;
}

.texte_intervention {
  margin:20px;
}

.contexte {
  margin:20px;
}

.tr_odd{
  background-color: #f7f7f7;
}
.synthese td, .synthese th { padding: 0px; margin: 0px; text-align: center}

.left {
width: 48%;
float: left;
}
.right{
float: right;
width: 50%;
}
.internal_tag_cloud{
  margin: auto;
}

/* accueil */

.texte_presentation_gauche {
  margin: 20px 10px 20px 10px;
  padding:10px;
  float:left;
  width:400px;
  min-height:590px;
  background-color:#f6f6f6;
  border : 1px dashed #cecdc2;
}

.texte_presentation_gauche h1 {
  margin: 10px 0 40px 0;
}

#texte_a_ecrire {
  text-align:justify;
}


#illustration {
  float:left;
  width:100px;
  height:90px;
  margin:5px;
  background-image:url('images/minilogo_nosdeputes.png');
}

.menu_accueil_droite {
}

.accueil_liste_liens {
  float:left;
  width:200px;
  margin:0 20px 20px 0;
  }
  
.accueil_liste_liens  ul {
  margin:0;
  padding:0;
  list-style-type:none;
  list-style:url('images/right.png');
}
  
.accueil_liste_liens  li{
  padding:7px 0 7px 5px;
  margin:0 0 0 20px;
}
  #couleur1 {
  background-color:#eee;
  }
  
  #couleur2 {
  background-color:#f7f7f7;
  }
  
.accueil_liste_liens  h2 {
  background-color:#dbd5c8;
  font-size: 1.2em;
  margin:0 0 10px 0;
}

.accueil_deputes_jour  h3 {
  font-size: 1.2em;
  margin:0 0 10px 0;
}

.accueil_deputes_jour {
  float:right;
  width:210px;
  text-align:center;
  background:#eee;
}
.clear {
       clear: both;
}
.accueil_deputes_jour img {
  border:1px solid #727272;
}

.accueil_message {
  float: left;
  margin-left:40px;
  width: 600px;
  font-size: 12px;
}
.accueil_message_content {
  text-align: justify;
}
.accueil_message_signature {
  text-align: right;
}

.accueil_plot {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.par_session {
  text-align: center;
  font-size: 1.4em;
  margin: 0px;
  padding: 0px;
}

#center {
  width:390px;
  margin-left:auto;
  margin-right:auto;
}

.accueil .nuage_de_tags {
   margin: 0;
   border: 0;
}
.accueil .nuage_de_tags h2{
   text-align: center;
}

.separateur{
  margin: 20px;
  clear: both;
}

.pagination span {

}
.pagination img {

}
a:hover img {
  text-decoration: none;
}
.flash_notice {
  color: green;
}
.error_list, .flash_error {
  color: red;
}
.error_list li {
  list-style-type: none;
}
.last_commentaires {
  margin-top: 30px;
}
.last_commentaires .commentaire {
  border: 0px;
}

#circo_table {
   margin: auto;
}
#circo_table table {
  width: 100%;
}
#circo_table td {
   width: 25%;
   vertical-align: top;
}
