body {
	margin: 0;
	padding: 0;
	font: 62.5% Verdana, Tahoma, Geneva, Arial, Sans-serif;
	color: #484848;
	background: #e4e4e1 url('images/mosaique.gif') repeat;
}

.temp {
	font-size: 1.1em;
}

#contenu {
	width: 1060px;
	overflow:hidden;
	margin: 0 auto;
	padding:0;
}

img {
	border:0;
	}
	
strong {
	font-weight: bold ;
	}
	
a:link {
	color: #6F6F6F;
	text-decoration: none;
	background-color: transparent;
}

a:active {
	color: #000000;
	text-decoration: none;
	background-color: transparent;
}

a:visited {
	color: #6F6F6F;
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #000;
	text-decoration: underline;
	background-color: transparent;
}

h1 {
  font-size: 1.6em;
  color: #6F6F6F;
  font-family: Verdana, Tahoma, Geneva, Arial, Sans-serif;
	margin-top:20px;
	margin-bottom:10px;
	text-align: center;
}

.stopfloat {
	clear: both;
}

.flash_notice, .flash_error {
	font-size: 1.1em;
	height: auto;
	padding: 15px;
	margin-top: 15px;
	margin-right: 8px;
	padding-left: 55px;
	border : 1px solid #BFBFBF;
}

.flash_notice {
	background: #fff url("images/flash_notice.png") no-repeat 15px center;
}

.flash_error {
	background: #fff url("images/flash_error.png") no-repeat 15px center;
}

/* top - barre du haut */

#top {
	height:32px;
	width: 1060px;
	background: url('images/top.png') no-repeat;
	overflow:hidden;
}

.initiative {
	float:left;
	height:32px;
	width:204px;
}

.identification {
	float:right;
}

.identification p {
	margin:0;
	padding:0;
}

.identification form {
	margin:3px 0 0 0;
}

.identification input {
	float:left;
	width:120px;
	height:20px;
	border:0;
	margin:0;
	background: url('images/top_input.png') no-repeat;
	padding: 3px 0 0 10px;
	color: #656565;
	font: 8pt Tahoma, Geneva, Arial, Sans-serif;
}

#loggued_top {
	float:right;
	margin:3px 20px 0 0;
	}

#signin_remember {
	float:left;
	width:14px;
	margin:1px 9px 0 0;
	padding:0;
	background:none;
}

#bt2 {
	float:left;
	width: 80px;
	height:20px;
	border:0;
	margin:0 50px 0 0;
	background: url('images/top_button2.png') no-repeat;
	cursor:pointer;
}

#bt1 {
	float:left;
	width: 28px;
	height:20px;
	border:0;
	margin:0 10px 0 0;
	background: url('images/top_button1.png') no-repeat;
	cursor:pointer;
}

.loggued {
	float:left;
}

/* header - logo */

#header {
	width: 1060px;
	height:147px;
	background: url('images/header.png') no-repeat;
	overflow:hidden;
}

#header img {
	width:629px;
	height:147px;
	margin-left:44px;
}

/* menu - barre de navigation - champ de recherche */

#menu {
	width: 1060px;
	height:35px;
	background: url('images/menu.png') no-repeat;
	overflow:hidden;
}

.menu_navigation {
	float:left;
	height:35px;
	width:682px;
	overflow:hidden;
	padding-left:45px;
}

.menu_navigation a {
	display:block;
	height:35px;
	font: 13pt Georgia, Tahoma, Geneva, Arial, Sans-serif;
	padding-top:5px;
	text-decoration:none;
	text-align:center;
}

.gris { 	
	color:#3c3c3c;
}

.vert {
	color:#8aa915;
}

.orange {
	color:#d4963e;
}

.bleu {
	color:#12a8d2;
}

#item1 a {
	float:left;
	background: url('images/menu_item1.png') no-repeat 0 0;
	width:89px;
}

#item2  a {
	float:left;
	background: url('images/menu_item2.png') no-repeat 0 0;
	width:166px;
}

#item3  a {
	float:left;
	background: url('images/menu_item3.png') no-repeat 0 0;
	width:166px;
}

#item4 a {
	float:left;
	background: url('images/menu_item4.png') no-repeat 0 0;
	width:166px;
}

#item5  a {
	float:left;
	background: url('images/menu_item5.png') no-repeat 0 0;
	width:74px;
	padding-top:10px;
	font-size: 8pt;
	font-weight:bold;
}

#item1 a.selected, #item2 a.selected, #item3 a.selected, #item4 a.selected, #item1 a:hover, #item1 a:focus, #item2 a:hover, #item2 a:focus, #item3 a:hover, #item3 a:focus, #item4 a:hover, #item4 a:focus {
   background-position: 0 -35px;
}

.menu_recherche {
	height:20px;
	width:283px;
	float:right;
	margin:7px 50px 0 0;
	overflow:hidden;
}

.type_recherche {
	color: #484848;
	font: 8pt Tahoma, Geneva, Arial, Sans-serif;
	float:left;
	margin-top:0px;
}

.menu_recherche p {
	margin-top: 0;
	margin-bottom: 0;
}

.menu_recherche  img{
	float:left;
	margin-left:10px;
}

.rechercher {
	float:right;
	width:111px;
	height:20px;
	border:0;
	margin:0;
	background: url('images/recherche.png') top left no-repeat;
	padding: 3px 0 0 10px;
	color: #656565;
	font: 8pt Tahoma, Geneva, Arial, Sans-serif;
	color: #484848;
}

.bouton_ok {
	float:right;
	width: 29px;
	height:20px;
	border:0;
	margin:0;
	background: url('images/recherche.png') top right no-repeat;
	cursor:pointer;
}


/* sous menu  */

#sous_menu {
	width:1060px;
	height:21px;
	background: url('images/sous_menu.png') no-repeat;
	overflow:hidden;
}

.elements_sous_menu {
	padding-top:3px;
	position:absolute;
}

#sous_menu_1 .elements_sous_menu {
	padding-left: 160px;
}
#sous_menu_2 .elements_sous_menu {
	padding-left: 260px;
}
#sous_menu_3 .elements_sous_menu {
	padding-left: 180px;
}
	.elements_sous_menu  a, .elements_sous_menu a:visited {
	text-decoration:none;
	letter-spacing:0.7pt;
	color:black;
}

	.elements_sous_menu  a:hover {
	text-decoration:underline;
	letter-spacing:0.7pt;
	color:black;
	background-color:#eee;
}
	.elements_sous_menu ul {
	float:left;
	padding:0;
	margin:0;
	font-size: 8pt;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	}
		
	.elements_sous_menu   li{
	display: block ;
	float:left;
	padding:0;
	margin:0;
	margin-left:4px;
	}
	
	#sous_menu_1 {
	float:left;
	width:1060px;
	height:21px;
	background: url('images/sous_menu_1.png');
	}
	
	#sous_menu_2 {
	float:left;
	width:1060px;
	height:21px;
	background: url('images/sous_menu_2.png');
	}
	
	#sous_menu_3 {
	float:left;
	width:1060px;
	height:21px;
	background: url('images/sous_menu_3.png');
	}



/* corps de page */

#corps_page {
	width:1060px;
	background: url('images/corps_page.png');
}

.contenu_page {
	min-height:400px;
	width:920px;
	overflow:hidden;
	margin-left:auto;
	margin-right:auto;
	
}

/* bottom - pied de page */

#bottom {
	width:1060px;
	height:42px;
	background: url('images/bottom.png');
}

#bottom a {
	float:right;
}

/* Carte des d�put�s */
.conteneur_resultat_dep  {
  float: left;
  width: 435px;
  height: 461px;
  border : 1px solid #BFBFBF;
}
.resultat_dep {
  
}
.photos {
  text-align: center
}
.image_map {
  float:right;
  border : 1px solid #BFBFBF;
}


/* D�but fiche d�put� */
.fiche_depute {
  width: 938px;
  overflow:hidden;
}
.fiche_depute h1 {
  line-height: 10px;
  text-align: center;
  margin:30px 0 20px 0;
}
.fiche_depute h2 {
  padding-left: 5px;
}

.fiche_depute dt, .fiche_depute dd {
  display: inline;
  margin-left: 0;
}
.info_depute {
  position: relative;
  top: 0;
}
.info_depute h1 {
  font-size: 1.7em;
}
.info_depute p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.depute_gauche {
  float: left;
}
.depute_droite {
  float: right;
  width: 92%;
  position: relative;
  height: 90px;
}
.depute_droite h1 {
  font-size: 2.0em;
  text-align: center;
}
.depute_droite h1 soustitre {
  font-size: 0.8em;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.depute_droite h2 {
  font-size: 1.5em;
  text-align: center;
}
.photo_depute {
  position: relative;
  top: 0;
  left: 0;
  height:160px;
  width:125px;
  border: 2px solid #dcd6ca;
}
.graph_depute {
  float: left;
  position: relative;
  height: 170px;
  margin-left: 3px;
}
.graph_depute p {
  text-align: center;
  margin: 0px;
  padding: 0px;
}
.barre_activite {
  float: left;
  width: 920px;
  margin-top:10px;
  padding-top: 3px;
  background: #8F8F8F url("images/fond_bas.gif") repeat-x 0 0;
}
.barre_activite ul, .barre_activite li {
  display: inline;
  margin: 0;
  padding: 0;
  font-weight: bold;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite h2 {
  display: inline;
  margin: 0;
  font-size: 1.3em;
  color: #6F6F6F;
  line-height: 24px;
  background-color: transparent;
}
.barre_activite li img{
  margin-left: 25px;
}
.barre_activite a {
  text-decoration: none;
}
.barre_date {
  margin-left: 25px;
}
.contenu_depute {
  width: 918px;
  overflow:hidden;
  border: 1px solid #d6d6d6;
  margin-bottom:20px;
}
.boite_depute {
  padding: 15px;
  background-color: #fff;
}
.boite_depute h2, #b1 h1 {
  margin-top: 0;
  padding-left: 5px;
  color: #6F6F6F;
  background-color: #dbd5c8;
}
/* les boites principales */
#b1 {
  float: left;
  width: 440px;
}
#b1 h2{
  color: #000;
  background-color: #fff;
  font-size: 1.5em;
}
#b1 h1{
  font-size: 1.6em;
}
#b2 {
  float: left;
  width: 414px;
  border-left: 1px dashed #BFBFBF;
  border-bottom: 1px dashed #BFBFBF;
}
#b3 {
  float: left;
  width: 414px;
  border-left: 1px dashed #BFBFBF;
  border-bottom: 1px dashed #BFBFBF;
}
#b4 {
  float: right;
  width: 414px;
  border-left: 1px dashed #BFBFBF;
}
/**/
/* Tabs adresses */
.meilleur_pire {
	padding-bottom:10px;
	border-bottom:1px dashed  #BFBFBF;
}

.meilleur_pire h3 {
	background-color: #ebebeb;
}

.b_d_infos  h3{
	background-color: #ebebeb;
}

.adresses {
	position: relative;
	left: 0;
}
.tab_adresse p{
  position: absolute;
  top: 37px;
  left: 0;
  width: 410px;
  padding: 15px;
  background-color: #fff;
  border: 1px dashed #BFBFBF;
}
.tab_adresse h4 {
  display: inline;
  float: left;  
  padding: 0;
  margin: 0;
  padding-left: 5px;
  padding-right: 15px;
  border-left: 1px solid #BFBFBF;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
  background: #fff url("images/fond_titre_adresses.png") no-repeat top right;
}
#tab_adresse_1 p { z-index: 3; }
#tab_adresse_2 p { z-index: 2; }
#tab_adresse_3 p { z-index: 1; }

#tab_adresse_1:hover p, 
#tab_adresse_1:focus p, 
#tab_adresse_2:hover p, 
#tab_adresse_2:focus p, 
#tab_adresse_3:hover p, 
#tab_adresse_3:focus p
{
  z-index: 10;
  background-color: #efefef;
}

#tab_adresse_1:hover h4, 
#tab_adresse_1:focus h4, 
#tab_adresse_2:hover h4, 
#tab_adresse_2:focus h4, 
#tab_adresse_3:hover h4, 
#tab_adresse_3:focus h4
{
  z-index: 10;
  background-color: #DFEEFF;
}
/**/
.bas_depute {
  clear: both;
  margin-top: 15px;
  padding: 15px;
  padding-bottom: 7px;
  background-color: #fff;
  border-top: 1px solid #BFBFBF;
}
.bas_depute h2 {
  margin-top: 0;
  padding-left: 5px;
  background-color: #F5F5F5;
}
.bas_depute_g {
  float: left;
}
.statut {
  color: red;
}

/* Boite citoyen b_c = initiales; h = haut, b = bas, hg = haut gauche, etc... */
.boite_citoyen {
  width: 300px;
  height: 100px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  border: 1px solid #BFBFBF;
}
.boite_citoyen:hover, .boite_citoyen:focus {
  background-color: #DFDFDF;
}
.b_c_h {
  height: 8px;
}
.b_c_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_c_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.b_c_cont {
  
}
.b_c_photo {
  float: left;
  width: 87px;
  height: 87px;
  margin-left: 8px;
  background: #D0D0D0 url("images/cadre_citoyen.png") no-repeat 0 0;
}
.b_c_photo img {
  width: 75px;
  height: 75px;
  margin: 6px;
  overflow: hidden;
}
.b_c_text {
  float: left;
  width: 188px;
  margin-left: 8px;
  margin-right: 8px;
}
.note {
  float: right;
}
.b_c_b {
  clear: both;
  height: 8px;
}
.b_c_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_c_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/**/
.bas_depute_d {
  float: left;
}

.bas_depute_d img {
  padding-left:10px;;
}

.rss {
  float: right;
  margin: 0;
  padding: 0;
}
/* Boite extrait article */
.boite_extrait_article {
  width: 580px;
  margin-bottom: 10px;
  background-color: #fbfbfb;
  border: 1px solid #BFBFBF;
  
}
.b_e_a_h {
  height: 8px;
}
.b_e_a_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_e_a_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.b_e_a_cont {
  clear: both;
}
.b_e_a_article {
  float: left;
  width: 354px;
  text-align: justify;
}
.b_e_a_article a {
  font-weight: bold;
}
.b_e_a_article p {
  margin-top: 0;
  margin-bottom: 0;
}
.lire_suite {
  float: right;
  color: green;
}
.b_e_a_b {
  clear: both;
  height: 8px;
}
.b_e_a_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.b_e_a_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/* Mini boite citoyen */
.mini_boite_citoyen {
  float: left;
  width: 200px;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #F5F5F5;
  border: 1px solid #EFEFEF;
}
.mini_boite_citoyen:hover, .mini_boite_citoyen:focus {
  background-color: #DFDFDF;
}
.m_b_c_h {
  height: 8px;
}
.m_b_c_hg {
  float: left;
  height: 8px;
  width: 8px;
}
.m_b_c_hd {
  float: right;
  height: 8px;
  width: 8px;
}
.m_b_c_cont {
  
}
.m_b_c_photo {
  float: left;
  width: 52px;
  height: 52px;
  margin-left: 8px;
  background: #D0D0D0 url("images/mini_cadre_citoyen.png") no-repeat 0 0;
}
.m_b_c_photo img {
  width: 46px;
  height: 46px;
  margin: 4px;
  overflow: hidden;
}
.m_b_c_text {
  float: left;
  width: 124px;
  margin-left: 8px;
  margin-right: 8px;
}
.m_b_c_text h3 {
  font-size: 1em;
  margin: 0;
}
.m_b_c_text p {
  margin: 0;
  margin-top: 5px;
}
.m_b_c_b {
  clear: both;
  height: 8px;
}
.m_b_c_bg {
  float: left;
  height: 8px;
  width: 8px;
}
.m_b_c_bd {
  float: right;
  height: 8px;
  width: 8px;
}
/**/
.liens_articles, .tags {
  list-style-type: none;
  font-size: 1.2em;
  margin-left: 0;
  padding-left: 0;
}
.liens_articles li, .tags li, .liens_articles ul, .tags ul   {
  display: inline;
  margin-left: 0;
  padding-left: 0;
}
/* Fin fiche d�put� */

/* S�ances */
.titre_int_et_seance {
  min-height: 70px;
  background-color: #fff;
  padding: 15px;
  font-size: 1.1em;
}
h2 {
  font-size: 1.3em;
  color: #6F6F6F;
  padding-top: 10px;
}
.interventions {
  background-color: #fff;
  border-top: none;
  padding: 15px;
}
.interventions a {
  font-weight: bold;
}
.intervention {
  margin-bottom: 10px;
  border-bottom: 1px dashed #DFDFDF;
}

.intervention:hover .source {
  display: block;
}
.intervention .source {
  display: none;
}

.intervention .section, .intervention .sous-section{
	      text-align: center;
}

.intervenant img {
  float: left;
  width: 50px;
  height: 64px;
  margin-right: 7px;
  margin-bottom: 7px;
}
.intervenant {
  
}
.texte_intervention {

}
.indent_guillemets {
  padding-left: 20px;
}
.carte_departement {
  float: right;
  padding-top: 2px;
  padding-right: 2px;
}
.commentaires {
  margin-bottom: 10px;
  padding-left: 10px;
}
.source {
  float: right;
}
.perso {
  font-weight: bold;
}
.perso:first-letter {
  text-transform: uppercase;
}
.loading{
	background: transparent url(/images/loading.gif) no-repeat scroll 0 0
}

/* Dossiers l�gislatifs */

.numeros_textes {
	border-bottom: 1px solid #b3aea4;
	margin:20px 50px 20px 30px;
}

.camembert {
	float:right;
	width:400px;
	margin-right:40px;
	overflow:hidden;
}

.nuage_de_tags {
	float:left;
	width:260px;
	min-height:172px;
	margin:5px 0 0 40px;
	padding:5px;
	text-align:justify;
	background-color: #f7f7f7;
	border: 1px solid #9a9a9a;
}

.plot_seance {
	padding-right: 300px;
	text-align: center;
}
.nuage_de_tags p{
	background-color:#dbd5c8;
}

.orga_dossier  {
	padding-top:20px;
}

.orga_dossier li {
	list-style: none
}

.orga_dossier li .dossier {display: none;}
.orga_dossier li:hover .dossier {display: inline;}

.orga_dossier p {
	background-color:#dbd5c8;
}

.seances_dossier {
	clear:both;
	width:800px;
	margin:auto;
	padding-top:15px;
}

.seances_dossier p {
	background-color:#dbd5c8;
}

.orateurs_dossier  {
	clear:both;
	width:800px;
	margin:auto;
	padding-top:10px;
	padding-bottom:20px;
}

.orateurs_dossier p {
	background-color:#dbd5c8;
}

/* Liste d�put�s */

.liste_deputes  {
	margin: 20px 10px 20px 0;
}

.liste_deputes p {
	background-color:#dbd5c8;
	font-size: 1.2em;
}

/* Liste d�put�s */

.liste_deputes_tags  {
	margin: 20px 10px 30px 0;
	padding:5px 20px 20px 20px;
	border: 1px dashed #aeaeae;
	text-align:justify;
}

.liste_deputes_tags p {
	background-color:#dbd5c8;
	font-size: 1.2em;
}

/* Travaux parlementaires */

.travaux_parlementaires {
	margin: 20px 10px 20px 0;
}

.travaux_parlementaires p {
	background-color:#dbd5c8;
	font-size: 1.2em;
}

/* interventions */

.info {
	margin:20px;
	background-color:#dbd5c8;
}

.texte_intervention {
	margin:20px;
}

.commentaires {
	margin:10px;
	clear:both;
}

.contexte {
	margin:20px;
}

.tr_odd{
	background-color: #f7f7f7;
}
.synthese td, .synthese th { padding: 0px; margin: 0px; text-align: center}