body {
	background-color: #fafafa;
	font-size:13px;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	text-align:justify;
	color:#564b47;  
	padding:0px;
	margin:0px;
}

.block { 	
	position:absolute;
	height:170px; 
	width:400px;
	margin:-200px 0px 0px -200px;
	top:50%; 
	left:50%;
}
.content{
	background-color: #fffbee;
	border: 1px dashed #000000;
	padding:10px 10px 10px 10px;
}

.content h1 {
	width:350px;
	font-size:13px;
	text-align:center;
	font-family:Arial, Helvetica, SunSans-Regular, Sans-Serif;
	background-color: #eee6e6;
	border: 1px dotted #90897a;
	padding:10px 10px 10px 10px;
	margin: auto;
	height: 20px;
}

p{
	font-size:12px;
}

.footer a{
	text-decoration: none;
	color:#564b47;
}

.footer p {
	text-align: center;
	font-size:  10px;
}

.footer {
}

.content p {
	width:300px;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 70px;
}

.content p:first-letter {
	font-size:x-large;
	padding-right:2px;
}

.content h2 {
	 margin: auto;	
	background-color: #fdf5da;
	font-size:10px;
	text-align:center;
}
