body {
	background-color:#fbfbfb;
	background-image:url(images/mosaique.gif);
	font-size:12px;
	font-family:Verdana, Arial, Helvetica, SunSans-Regular, Sans-Serif;
	text-align:justify;
	color:#564b47;  
	padding:0px;
	margin:0px;
}

.content { 	
	position:absolute;
	width:614px;
	height:768px; 
	left:50%;
	margin:0px 0px 0px -307px;
	background-image:url(images/fond.png);
	background-repeat:no-repeat;
}

.titre { 	
	width:372px;
	height:67px;
	padding-left:130px;
	margin-top:190px;
}

.chapo { 	
	width:370px;
	padding-left:120px;
	margin-top:150px;
}

.texte { 	
	width:340px;
	height:144px;
	padding-left:130px;
	margin-top:30px;
}

.regardscitoyens { 	
	width:264x;
	height:91px;
	padding-left:160px;
	margin-top:22px;
}

.chapo h2 {
	border: 1px dotted #90897a;
}

h2 {
	font-size: 13px;
	text-align: center;
	color: #564b47;
	font-family:Arial, Helvetica, SunSans-Regular, Sans-Serif;
	padding:10px 10px 10px 10px;
	margin:0;
}

h3 {
	font-size: 11px;
	text-transform:uppercase;
	text-align: left;
	color: #564b47;
	background-color: #90897a;
	margin:0;
}

a { 
	color: #564b47;
	font-size: 11px;
	background-color:transparent;
	text-decoration: none; 
}

img {
	border-style:none;
}
