Options +FollowSymLinks +ExecCGI

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # versionned files to force refresh new versions
  RewriteRule ^(.*)\.v\.[0-9a-z]+(\..*)$ $1$2 [QSA,L,E=VERSIONED_FILE:1]

  # redirect 13th pages to 2007-2012
  RewriteRule ^dossier/(.*)$ http://2007-2012.nosdeputes.fr/dossier/$1 [R,L]
  RewriteRule ^seance/(.*)$ http://2007-2012.nosdeputes.fr/seance/$1 [R,L]
  RewriteRule ^loi/(.*)$ http://2007-2012.nosdeputes.fr/loi/$1 [R,L]
  RewriteRule ^amendement/(.*)$ http://2007-2012.nosdeputes.fr/amendement/$1 [R,L]
  RewriteRule ^document/(.*)$ http://2007-2012.nosdeputes.fr/document/$1 [R,L]
  RewriteRule ^question/(.*)$ http://2007-2012.nosdeputes.fr/question/$1 [R,L]
  RewriteRule ^widget/(.*)$ http://2007-2012.nosdeputes.fr/widget/$1 [R,L]

  # handle hardcache departments maps
  RewriteRule ^(circonscription/cartedepts/600/546)$ carte546.jpg [QSA]
  RewriteRule ^(circonscription/cartedepts/219/200)$ carte200.jpg [QSA]

  # handle hardcache html
  # we check if the .html version is here (caching)
  RewriteRule ^$ index.html [QSA]
  RewriteRule ^([^.]+)$ $1.html [QSA]
  RewriteCond %{REQUEST_FILENAME} !-f

  # no, so we redirect to our front web controller
  RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

# Hard manual data fixes
Redirect /14/seance/126 /14/seance/197
Redirect /14/seance/163 /14/seance/201
Redirect /14/seance/168 /14/seance/199
Redirect /14/seance/184 /14/seance/200
Redirect /14/seance/1587 /14/seance/1624
Redirect /14/seance/1593 /14/seance/1625
Redirect /14/seance/1584 /14/seance/1628
Redirect /14/seance/1562 /14/seance/1627
Redirect /14/intervention/222735 /14/intervention/229324

Header set Access-Control-Allow-Origin *
